body {
	margin: 1ex;
}

h3 {
	text-align: center;
}

#input {
	display: block;
	max-width: 100%;
	width: 80ex;
	min-height: 4em;
	margin: 0 auto;
	font: inherit;
}

#transform {
	text-align: center;
}

#output {
	border: 1px solid #999;
	margin: 0 auto;
	min-height: 4em;
	width: 78ex;
	display: table;
	padding: 0 1ex;
}

.error {
	color: red;
}

#output-tabs {
	text-align: center;
}

.active-tab {
	font-weight: bold;
}

.rdf-table {
	border-collapse: collapse;
	margin: 1ex auto;
}

.rdf-table td,
.rdf-table th {
	border: 1px solid #999;
}

.ldp-content {
	text-align: center;
}

.proof-options, .document {
	text-align: left;
	display: inline-block;
	margin: 1ex auto;
}

.indent {
	padding-left: 8ex;
}

.nquads {
	border: 1px solid #999;
	margin: 1ex;
	padding: 1ex;
	white-space: pre-wrap;
}
